body {
    background-color: #fdf9f9;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ff5a8a;
    margin-bottom: 4px;
}

button {
    background: #ff5a8a;
    color: white;
    padding: 10px 20px;
    border: 1px solid #ff5a8a;
    font-weight: bold;
    cursor: pointer;
}

#delete-btn {
    background: white;
    color: #ff5a8a;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

a {
    color: #333333;
}

span {
    color: #ff8ab2;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

li:hover span {
    display: inline;
}


